# Q. 1 : Explain dimension reduction in machine learning ?

Ans : The original high-dimensional input data to a low dimensional space, filtering out the not-so-relevant features and keeping
as much of the interesting ones as possible. Dimensionality reduction allows unsupervised learning AI to more effectively 
identify patterns and more efficiently solve large-scale, computationally expensive problems .
There are the multiple algorithms in dimension reduction like Principle Component Analysis (PCA),Singular Value Decomposition (SVD), KernelPCA ,RandomProjection etc.

In [1]:
# Dimension Reduction Algorithm Example 
# Principal Component Analysis Algorithm

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Load Data Set
data = pd.read_csv("H:/data/clusturing/bill_authentication.csv")

In [3]:
data.head()

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [4]:
# Explore data 
data.describe()

          Variance     Skewness     Curtosis      Entropy        Class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [5]:
# PCA Algorithm 
from sklearn.decomposition import PCA
d = PCA(n_components = 5)
data_reduce = d.fit_transform(data)
data_reduce

array([[-8.12863817, -2.39016738,  1.15364372, -0.97126432, -0.11095938],
       [-7.8113039 , -2.71216746,  1.57130549,  0.39265831, -0.23729544],
       [ 3.67473381, -4.39936843, -0.1559228 ,  1.33948311,  0.25178269],
       ...,
       [21.73456606,  4.80755648,  3.83045517,  2.977406  , -0.39654703],
       [14.95647379,  3.80489981,  2.16475754,  0.66594988, -0.29236322],
       [ 3.58043637,  1.07412454, -1.4595504 , -2.65835003, -0.05717779]])

# Question No .  2 : How can you handle duplicate values in a dataset for a variable in    Python using pandas?

In [6]:
import pandas as pd

In [34]:
# Load Data Set
data = pd.read_excel("H:/car detection/duplicate.xlsx")
data

   Name   Marks
0  Arun      10
1   ravi      9
2  Arun       9
3    Aaa      8
4  Arun      10

In [30]:
# Check duplicate values
duplicate = data.duplicated()
print(duplicate)

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [33]:
# This isfirst method for remove  duplicate values 
print(data[~duplicate])

   Name   Marks
0  Arun      10
1   ravi      9
2  Arun       9
3    Aaa      8

In [32]:
# This is the second method for remove duplicate values
data.drop_duplicates()

   Name   Marks
0  Arun      10
1   ravi      9
2  Arun       9
3    Aaa      8